/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

* {
    font-family: 'Lato', sans-serif;
    color: #727980;
    font-weight: 300;
}

/* ABOUT SECTION */
.about {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .about {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .about {
        max-width: 960px;
    }
}

.outer-about-box {
    position: relative;
    height: min-content;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.about-title {
    width: 100%;
    text-align: left;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.about-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}


@media(max-width: 767.98px) {
    .about-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .about-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.about-box {
    margin-bottom: 30px;
    max-height: 280px;
}

    .about-box .about-content {
        width: 100%;
        position: relative;
        height: 245px;
        text-align: left;
    }

        .about-box .about-content p {
            font-size: 16px;
            font-weight: 300;
            padding: 20px;
        }

/* ADDRESS SECTION */
.address {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .address {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .address {
        max-width: 960px;
    }
}

.outer-address-box {
    position: relative;
    height: min-content;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.find-us {
    width: 100%;
    text-align: left;
    padding: 45px 0 30px 0;
}


    .find-us h1 {
        color: #353535;
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: 5px;
    }

@media(max-width: 767.98px) {
    .find-us h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .find-us h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.address-box {
    margin-bottom: 30px;
    max-height: 280px;
}

    .address-box .team-img {
        position: relative;
        clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 74%);
        width: 40%;
        display: inline-block;
    }

        .address-box .team-img img {
            width: 100%;
            height: auto;
        }

    .address-box .address-content {
        width: 59%;
        position: relative;
        top: -15px;
        height: 245px;
        display: inline-block;
        text-align: center;
        background: #f3f4fa;
        transition: all .5s;
    }

    .address-box:hover .address-content {
        background: #2A3C5F;
    }

        .address-box:hover .address-content h3 {
            color: #EDEFE2;
        }

    .address-box .address-content h3 {
        font-size: 25px;
        font-weight: 300;
        padding-top: 5%;
    }

/* EMPLOYEE PAGE */
.employees {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .employees {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .employees {
        max-width: 960px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

    .section-title::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 5px;
        left: calc(50% - 25px);
        background: #353535;
    }

    .section-title h1 {
        color: #353535;
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: 5px;
    }

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.team-member {
    margin-bottom: 30px;
    height: 450px;
}

    .team-member .team-img {
        position: relative;
        font-size: 0;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

        .team-member .team-img img {
            width: 100%;
            height: auto;
        }

    .team-member .team-social {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .5);
        transition: all .3s;
        font-size: 0;
        z-index: 1;
        opacity: 0;
    }

    .team-member:hover .team-social {
        opacity: 1;
    }

    .team-member .team-social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding: 11px 0 10px 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
        color: #ffffff;
        transition: all .3s;
        margin-top: 50px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

        .team-member .team-social a.social-tw {
            background: #00acee;
        }

        .team-member .team-social a.social-fb {
            background: #3b5998;
        }

        .team-member .team-social a.social-li {
            background: #0e76a8;
        }

        .team-member .team-social a.social-in {
            background: #3f729b;
        }

        .team-member .team-social a.social-yt {
            background: #c4302b;
        }

        .team-member .team-social a:last-child {
            margin-right: 0;
        }

    .team-member:hover .team-social a {
        margin-top: 0;
    }

    .team-member .team-social a:hover {
        color: #222222;
        background: #ffffff;
    }

    .team-member .team-content {
        padding: 70px 20px 20px 20px;
        margin-top: -50px;
        height: 350px;
        text-align: center;
        background: #f3f4fa;
        transition: all .5s;
    }

    .team-member:hover .team-content {
        background: #2A3C5F;
    }

        .team-member:hover .team-content h2,
        .team-member:hover .team-content h3,
        .team-member:hover .team-content h4,
        .team-member:hover .team-content p {
            color: #EDEFE2;
        }

    .team-member .team-content h2 {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .team-member .team-content h3 {
        font-size: 16px;
        font-weight: 300;
    }

    .team-member .team-content h4 {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    .team-member .team-content p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }
