/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

* {
    font-family: 'Lato', sans-serif;
    color: #727980;
    font-weight: 300;
}



/* --------------------------------------------
    
                ABOUT US PAGE

-------------------------------------------- */

/* ABOUT SECTION */
.about {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .about {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .about {
        max-width: 960px;
    }
}

.outer-about-box {
    position: relative;
    height: min-content;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.about-title {
    width: 100%;
    text-align: left;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.about-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}


@media(max-width: 767.98px) {
    .about-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .about-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.about-box {
    margin-bottom: 30px;
    max-height: 280px;
}

    .about-box .about-content {
        width: 100%;
        position: relative;
        height: 245px;
        text-align: left;
    }

        .about-box .about-content p {
            font-size: 16px;
            font-weight: 300;
            padding: 20px;
        }

/* ADDRESS SECTION */
.address {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .address {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .address {
        max-width: 960px;
    }
}

.outer-address-box {
    position: relative;
    height: min-content;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.find-us {
    width: 100%;
    text-align: left;
    padding: 45px 0 30px 0;
}


    .find-us h1 {
        color: #353535;
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: 5px;
    }

@media(max-width: 767.98px) {
    .find-us h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .find-us h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.address-box {
    margin-bottom: 30px;
    max-height: 280px;
}

    .address-box .team-img {
        position: relative;
        clip-path: polygon(0 26%, 100% 0, 100% 100%, 0 74%);
        width: 40%;
        display: inline-block;
    }

        .address-box .team-img img {
            width: 100%;
            height: auto;
        }

    .address-box .address-content {
        width: 59%;
        position: relative;
        top: -15px;
        height: 245px;
        display: inline-block;
        text-align: center;
        background: #f3f4fa;
        transition: all .5s;
    }

    .address-box:hover .address-content {
        background: #2A3C5F;
    }

        .address-box:hover .address-content h3 {
            color: #EDEFE2;
        }

    .address-box .address-content h3 {
        font-size: 25px;
        font-weight: 300;
        padding-top: 5%;
    }

/* EMPLOYEE PAGE */
.employees {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .employees {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .employees {
        max-width: 960px;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

    .section-title::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 5px;
        left: calc(50% - 25px);
        background: #353535;
    }

    .section-title h1 {
        color: #353535;
        font-size: 50px;
        letter-spacing: 5px;
        margin-bottom: 5px;
    }

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}

.team-member {
    margin-bottom: 30px;
    height: 450px;
}

    .team-member .team-img {
        position: relative;
        font-size: 0;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

        .team-member .team-img img {
            width: 100%;
            height: auto;
        }

    .team-member .team-social {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .5);
        transition: all .3s;
        font-size: 0;
        z-index: 1;
        opacity: 0;
    }

    .team-member:hover .team-social {
        opacity: 1;
    }

    .team-member .team-social a {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding: 11px 0 10px 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
        color: #ffffff;
        transition: all .3s;
        margin-top: 50px;
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }

        .team-member .team-social a.social-tw {
            background: #00acee;
        }

        .team-member .team-social a.social-fb {
            background: #3b5998;
        }

        .team-member .team-social a.social-li {
            background: #0e76a8;
        }

        .team-member .team-social a.social-in {
            background: #3f729b;
        }

        .team-member .team-social a.social-yt {
            background: #c4302b;
        }

        .team-member .team-social a:last-child {
            margin-right: 0;
        }

    .team-member:hover .team-social a {
        margin-top: 0;
    }

    .team-member .team-social a:hover {
        color: #222222;
        background: #ffffff;
    }

    .team-member .team-content {
        padding: 70px 20px 20px 20px;
        margin-top: -50px;
        height: 350px;
        text-align: center;
        background: #f3f4fa;
        transition: all .5s;
    }

    .team-member:hover .team-content {
        background: #2A3C5F;
    }

        .team-member:hover .team-content h2,
        .team-member:hover .team-content h3,
        .team-member:hover .team-content h4,
        .team-member:hover .team-content p {
            color: #EDEFE2;
        }

    .team-member .team-content h2 {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .team-member .team-content h3 {
        font-size: 16px;
        font-weight: 300;
    }

    .team-member .team-content h4 {
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
        margin-bottom: 0;
    }

    .team-member .team-content p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }


/* --------------------------------------------
    
                PRODUCTS PAGE

-------------------------------------------- */

html {
    --table-border: #1a2131;
    --table-header: #1a2131;
    --filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.products-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.products-container {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #1a273F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.products-container {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 1280px;
    display: flex;
    overflow: hidden;
    max-width: 2000px;
    margin: 0 auto;
}


.products-icon {
    color: var(--sidebar-main-color);
}

    .products-icon svg {
        width: 24px;
        height: 24px;
    }

.products-content {
    padding: 16px;
    background-color: #1a273F;
    height: 100%;
    flex: 1;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}


.products-content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px;
}

.products-content-headerText {
    color: #EDEFE2;
    font-size: 42px;
    letter-spacing: 5px;
    line-height: 32px;
    margin-bottom: 5px;
}

.products-content-headerButton {
    background-color: #4BA8B2;
    color: #EDEFE2;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
}
    .products-content-headerButton a {
        color: #EDEFE2;
        text-decoration: none;
    }

    .products-content-headerButton:hover {
        background-color: #4BA8B2;
        text-decoration: none;
    }

.products-content-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 4px;
}

.products-content-actions-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

    .products-content-actions-wrapper a {
        color: #EDEFE2;
        text-decoration: none;
    }

@media screen and (max-width: 520px) {
    .products-content-actions {
        flex-direction: column;
    }

        .products-content-actions .search-bar {
            max-width: 100%;
            order: 2;
        }

        .products-content-actions .products-content-actions-wrapper {
            padding-bottom: 16px;
            order: 1;
        }
}

.searchwhatever {
    width: 50%;
}



.search-bar {
    background-color: #23314b;
    border: 1px solid #23314b;
    color: #EDEFE2;
    font-size: 14px;
    line-height: 24px;
    border-radius: 4px;
    padding: 0px 10px 0px 32px;
    height: 32px;
    width: 100%;
    max-width: 320px;
    transition: 0.2s;
}

    .search-bar:hover {
        border-color: #4BA8B2;
    }

    .search-bar:focus {
        outline: none;
        border-color: #4BA8B2;
    }

.action-button {
    border-radius: 4px;
    height: 32px;
    background-color: #23314b;
    border: 1px solid #23314b;
    display: flex;
    align-items: center;
    color: #EDEFE2;
    font-size: 14px;
    margin-left: 8px;
    cursor: pointer;
}

    .action-button span {
        margin-right: 4px;
    }

    .action-button:hover {
        border-color: #4BA8B2;
    }

    .action-button:focus, .action-button.active {
        outline: none;
        color: #4BA8B2;
        border-color: #4BA8B2;
    }

.filter-button-wrapper {
    position: relative;
}

.filter-menu {
    background-color: #23314b;
    position: absolute;
    top: calc(100% + 16px);
    right: 10%;
    border-radius: 4px;
    padding: 8px;
    width: 220px;
    z-index: 2;
    box-shadow: var(--filter-shadow);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

    .filter-menu:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #23314b;
        bottom: 100%;
        left: 90%;
        transform: translatex(-50%);
    }

    .filter-menu.active {
        visibility: visible;
        opacity: 1;
        top: calc(100% + 8px);
    }

    .filter-menu label {
        display: block;
        font-size: 14px;
        color: #EDEFE2;
        margin-bottom: 8px;
    }

    .filter-menu select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        padding: 8px 24px 8px 8px;
        background-position: right 4px center;
        border: 1px solid #EDEFE2;
        border-radius: 4px;
        color: #EDEFE2;
        font-size: 12px;
        background-color: transparent;
        margin-bottom: 16px;
        width: 100%;
    }

        .filter-menu select option {
            font-size: 14px;
        }

        .filter-menu select:hover {
            border-color: #4BA8B2;
        }

        .filter-menu select:focus, .filter-menu select.active {
            outline: none;
            color: #4BA8B2;
            border-color: #4BA8B2;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
        }

.filter-menu-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-button {
    border-radius: 2px;
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    color: #EDEFE2;
}

    .filter-button.apply {
        background-color: #4BA8B2;
    }

    .filter-button.reset {
        background-color: #2c394f;
    }

.products-area-wrapper {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 0 4px;
}

.gridView {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

@media screen and (max-width: 520px) {
    .gridView {
        margin: 0;
    }
}

.gridView .products-header {
    display: none;
}

.gridView .products-row {
    margin: 8px;
    width: calc(25% - 16px);
    background-color: #23314b;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

    .gridView .products-row:hover {
        transform: scale(1.01);
        box-shadow: var(--filter-shadow);
    }

@media screen and (max-width: 1024px) {
    .gridView .products-row {
        width: calc(33.3% - 16px);
    }
}

@media screen and (max-width: 820px) {
    .gridView .products-row {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 520px) {
    .gridView .products-row {
        width: 100%;
        margin: 8px 0;
    }

        .gridView .products-row:hover {
            transform: none;
        }
}

.gridView .products-row .cell-more-button {
    border: none;
    padding: 0;
    border-radius: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: rgba(16, 24, 39, 0.7);
    color: #EDEFE2;
    cursor: pointer;
    display: none;
}

.gridView .product-cell {
    color: #EDEFE2;
    font-size: 14px;
    margin-bottom: 8px;
}

    .gridView .product-cell:not(.image) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .gridView .product-cell.image span {
        font-size: 18px;
        line-height: 24px;
    }

    .gridView .product-cell img {
        width: 100%;
        height: 140px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 16px;
    }

.gridView .cell-label {
    opacity: 1;
    font-weight: 300;
}

.general-Button {
    background-color: #4BA8B2;
    color: #EDEFE2;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
}

    .general-Button a {
        color: #EDEFE2;
        text-decoration: none;
    }

    .general-Button:hover {
        background-color: #4BA8B2;
        text-decoration: none;
    }

/* CRUD HOVER ELEMENTS FOR PRODUCT PAGE */
.products-row .crud-elements {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212f49da;
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}

.products-row:hover .crud-elements {
    opacity: 1;
}

.products-row:hover {
    opacity: 0.7;
}

.products-row .crud-elements a {
    background-color: #4BA8B2;
    color: #EDEFE2;
    font-size: 14px;
    line-height: 24px;
    border: none;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;
}

.products-row:hover .crud-elements a {
    margin-top: 0;
}

.products-row .crud-elements a:hover {
    color: #EDEFE2;
    background: #2c6268;
    text-decoration: none;
}

/* ---------------------------------

            NAV BAR

------------------------------- */



.header {
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #2c6268;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fbfcf5;
    z-index: 6;
    justify-content: center;
    align-items: center;
    padding: 2em;
    color: #2c2d2a;
}

.header .logo {
    position: relative;
    width: 150px;
    padding-left: 20%;
}

.header-menu {
    display: flex;
    align-content: center;
    margin-left: auto;
}

    .header-menu a {
        background-color: #243657;
        color: #EDEFE2;
        font-size: 24px;
        line-height: 36px;
        border: none;
        border-radius: 4px;
        height: 32px;
        padding: 0 16px;
    }

        .header-menu a:hover {
            background-color: #4BA8B2;
            text-decoration: none;
        }

.header-menu a:not(:first-child) {
    margin-left: 30px;
}

.header-spacemaker {
    width: 35%;
    margin-left: auto;
    display: flex;
}
