@{
    ViewData["Title"] = "Home Page";
}


<div class="about">
    <div class="about-title">
        <h1>Welcome to Pender Mifflin</h1>
    </div>
    <div class="outer-about-box">
        <div class="about-box">
            <div class="about-content">
                <p> PenDER MIFFLIN, Ink. is committed to providing its customers quality pens and the experience required for making informed buyer decisions.</p>
                <p> We provide our Customers with the highest standard of integrity and quality, to enable them to develop long-term professional relationships with our employees and staff.</p>
                <p> We crusade to create a stable working environment and corporate spirit and to give unlimited opportunity to women, and to afford ordinary folk the chance to buy the same things as rich people.</p>
                <p> We are also committed to nurturing and promulgating wholesome American values.</p>
                <p> We strive to become the company most known for changing the worldwide poor–quality image of Chinese products.</p>

            </div>
        </div>
    </div>
</div>