@{
    ViewData["Title"] = "About Us";
}

<h2>Welcome to Pender Mifflin, Ink.</h2>

<p>
    Pender Mifflin Inc. (stock symbol PMI) is a micro-cap regional pen supply distributor with an emphasis on servicing small-business clients. With a corporate office in New York City, Pender Mifflin
    has branches in Buffalo, Albany, Utica, Scranton, Akron, Camden, Nashua and Yonkers.
    Pender Mifflin Inc. provides its customers quality pens and pen products, pen values and the expertise required for making informed buying choices. We provide our products and services with a
    dedication to the highest degree of integrity and quality of customer satisfaction, developing long-term professional relationships with employees that develop pride, creating a stable working
    environment and company spirit.
</p>

<div id="address">
    <h3>Find us at:</h3>
    <p>
        1725 Slough Ave <br />
        Scranton, Pennsylvania
    </p>
</div>

<div class="employees">
    <div class="section-title">
        <h1>Meet our Team!</h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team1-scarrell.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Steve Carell</h2>
                    <h3>Director of Distribution</h3>
                    <p>I became a salesman because of people. I love making friends.</p>
                    <h4>scarell@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team2-schrute.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Dwight Schrute</h2>
                    <h3>Head Salesman</h3>
                    <p>
                        Whenever I'm about to do something, I think 'Would an idiot do
                        that?' And if they would, I do not do that thing.
                    </p>
                    <h4>dschrute@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team3-phance.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Vyllis Phance</h2>
                    <h3>Regional Director of Sales</h3>
                    <p>
                        I'm glad Michael's getting help. He has a lot of
                        issues, and he's stupid.
                    </p>
                    <h4>vphance@PMI.com</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team4-jim.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Jim Halpent</h2>
                    <h3>Sales Rep</h3>
                    <p>Skilled with photoshop. Loves ham and cheese.</p>
                    <h4>jhalpent@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team5-ajim.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Asian Jim Halpent</h2>
                    <h3>Sales Rep</h3>
                    <p>Skilled with photoshop. Loves ham and cheese.</p>
                    <h4>jhalpent@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team6-stanley.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Stanley Hudspen</h2>
                    <h3>Sales Rep</h3>
                    <p>
                        It's like I used to tell my wife: I do not apologize unless
                        I think I'm wrong, and if you don't like it, you can leave.
                    </p>
                    <h4>shudspen@PMI.com</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team7-pam.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Pen Beesly</h2>
                    <h3>Office Admin</h3>
                    <p>Kinda sounds like prison is better than Pender Mifflin.</p>
                    <h4>admin@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team8-kapen.jpg" alt="Team Image">
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="team-content">
                    <h2>Kelly Kapen</h2>
                    <h3>Customer Service Rep</h3>
                    <p>Who am I? I'm Kelly Kapen, the business bitch.</p>
                    <h4>kkapen@PMI.com</h4>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-member">
                <div class="team-img">
                    <img src="../wwwroot/images/team9-creed.jpg" alt="Team Image">
                    <div class="team-social">
                    </div>
                </div>
                <div class="team-content">
                    <h2>Creed Bratton</h2>
                    <h3>Quality Assurance</h3>
                    <p>
                        Nobody steals from Creed Bratton and gets away with it.
                        The last person to do this disappeared. His name: Creed Bratton.
                    </p>
                    <h4>cbratton@PMI.com</h4>
                </div>
            </div>
        </div>
    </div>
</div>
